/* Mode 1 */
/* colors */
$dark-purple: #434fb6;
$inky-blue: #101320;
$irish-red: #e34300;
$light-gray: #f1f1f1;
$light-purple: #8891dd;
$pure-white: #ffffff;
$strong-orange: #f5723b;
/* Mode 1 */
/* colors */
$banner-primary-background: $pure-white;
$banner-secondary-background: $light-purple;
$border-on-color: $pure-white;
$border-primary: $light-gray;
$button-primary: $dark-purple;
$button-primary-hover: $light-purple;
$card-background: $light-purple;
$footer-background: $inky-blue;
$hero-background: $light-purple;
$nav-primary-background: $pure-white;
$text-on-color: $pure-white;
$text-primary: $inky-blue;