/* Error: Expected identifier.
 *    ,
 * 16 | $button-primary: $$dark-purple;
 *    |                   ^
 *    '
 *   _figma_variables.scss 16:19  @import
 *   styles.scss 1:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 16 \2502  $button-primary: $$dark-purple;\a    \2502                    ^\a    \2575 \a   _figma_variables.scss 16:19  @import\a   styles.scss 1:9              root stylesheet";
}
